<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
    <div id="channel">
        {{range .Messages}} 
        {{block "message-element" .}}
        <div>
            <p>{{.Id}}</p>
            <p>{{.Text}}</p>
        </div>
        {{end}} 
        {{end}}
    </div>
    <input hx-swap="beforeend" hx-post="/send-message" hx-trigger="keydown[key=='Enter']" hx-target="#channel" hx-on::after-request="this.value=''" type="text" name="message-box">
</body>
</html>