{{ define "signin" }}
<link rel="stylesheet" href="css/signin.css">
<form method="post" action="/signin-validator" hx-target="this" hx-swap="outerHTML" hx-boost="true">
    <label for="username">Username:</label>
    <input {{ if .Values.username }} value="{{ .Values.username }}" {{ end }} type="text" name="username" />
    {{ if .Errors.username }}
    <div>{{ .Errors.username }}</div>
    {{ end }}

    <label for="password">Password:</label>
    <input {{ if .Values.password }} value="{{ .Values.password }}" {{ end }} type="password" name="password" />
    {{ if .Errors.password }}
    <div>{{ .Errors.password }}</div>
    {{ end }}

    <button type="submit">Sign In</button>
</form>
{{ end }}
