{{block "signup" .}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
    {{template "sign-up-form" .Form}}
<script>
    document.addEventListener("DOMContentLoaded", (e) => {
        document.body.addEventListener("htmx:beforeSwap", function(evt) {
            if (evt.detail.xhr.status == 422) {
                evt.detail.shouldSwap = true;
                evt.detail.isError = false;
            }
        });
    });
</script>
</body>
</html>
{{end}}

{{block "sign-up-form" .}}
    <form hx-swap="outerHTML" hx-post="signup-validator">
        <label for="username">Username:</label>
        <input 
        {{if .Values.username}} value="{{ .Values.username }}" {{end}} 
        type="text" name="username" />
        {{if .Errors.username }}
            <div>{{ .Errors.username }}</div>
        {{end}}

        <label for="password">Password:</label>
        <input 
        {{if .Values.password}} value="{{ .Values.password }}" {{end}} 
        type="password" name="password" />
        {{if .Errors.password}}
            <div>{{ .Errors.password }}</div>
        {{end}}

        <label for="confirm-password">Confirm password:</label>
        <input 
        {{if .Values.confirmPassword}} value="{{ .Values.confirmPassword }}" {{end}} 
        type="password" name="confirm-password" />
        {{if .Errors.confirmPassword }}
            <div>{{ .Errors.confirmPassword }}</div>
        {{end}}

        <button type="submit">Sign Up</button>
    </form>
{{end}}